<body>
  <h1>
  TODO list
</h1>
<h2>Введите действие</h2>
<div class="mainInput">
  <input [(ngModel)]="item" type="text">
  <button (click)="addItem()">Добавить</button>
</div>
<div class="task-list">
  <div class="task" *ngFor="let item of allItems; let index = index">
    <div class="task-name">
      <input *ngIf="itemChanging === index" [(ngModel)]="submitItem" type="text">
      <div *ngIf="!(itemChanging === index)">{{item}}</div>
    </div>
    <div class="buttons">
      <button *ngIf="itemChanging === index" (click)="changeItem(index)">Сохранить</button>
      <button *ngIf="!(itemChanging === index)" (click)="changingItem(index)">Изменить</button>
      <button (click)="deleteItem(index)">Удолить</button>
    </div>
  </div>
</div>
</body>

