<h1>
  TODO list
</h1>
<h2>Введите действие</h2>
<input [(ngModel)]="item" type="text">
<button (click)="addItem()">Добавить</button>
<div class="task-list">
  <div class="task" *ngFor="let item of allItems; let index = index">
    <div class="task-view" *ngIf="!(itemChanging === index)">
      <button (click)="changingItem(index)">Изменить</button>
      <div>{{item}}</div>
    </div>
    <div class="change-view" *ngIf="itemChanging === index">
      <input [(ngModel)]="submitItem" type="text">
      <button (click)="changeItem(index)">Сохранить</button>
    </div>
    <div class="delete-view">
      <button (click)="deleteItem(index)">Удолить</button>
    </div>

  </div>

</div>
